# Dependencies
/node_modules

# Expo / React Native
.expo
.expo-shared
.expo/
*.log
*.tmp
*.tmp.*
*.bak
*.swp

# Environment files
.env
.env.*
!.env.example

# macOS
.DS_Store

# iOS / Android native directories
ios/
android/

# Build / Cache
/dist
/build
/web-build
/coverage

# IDE / Editor junk
.vscode/
.idea/
*.iml

# Expo generated
expo-env.d.ts

# Archives / Snapshots
*.zip
*.xz
*.tar
*.gz